{% extends 'base.html.twig' %}

{% block title %}Gestion des prêts | Association
{% endblock %}
{% block body %}

	{% include "_sidebar.html.twig" %}

	<div class="tableAsso">
		<table class="table-content">
			<thead>
				<tr>
					<th>Liste des Associations</th>
					<th>Montant FNI Total engagé</th>
					<th>Montant FNI Total versé</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				{% for index0,association in associationList %}
					<tr>
						<td class="associationName">{{ association.name }}</td>
						{# Pour ne pas décaller mon tableau je fais en sorte que ma boucle imbriqué est le même index que la boucle du dessus. TotalFNI est une fonction dns le CompanySheetRepository qui calcul la Somme Total #}
						{% for Fni in TotalFni %}
							{% if loop.index0 == loop.parent.index0 %}
								<td>{{ Fni.TotalFniAmountRequested|number_format(0, '.', ' ')|default('NULL') }}
									€</td>
								<td>{{ Fni.TotalFniAmountPaid|number_format(0, '.', ' ') }}
									€</td>
							{% endif %}
						{% endfor %}
						<td>
							<a href="{{ path('app_association_display', {id: association.id}) }}" class="infos">
								<i class="fa-solid fa-diamond-turn-right"></i>
								<span>Liste Fiche Société</span>
							</a>
							<a href="{{ path('app_association_edit', {id: association.id}) }}" class="edit">
								<i class="fa-solid fa-pen-to-square"></i>
								<span>Éditer</span>
							</a>
							<a href="{{ path('app_association_delete', {id: association.id}) }}" class="delete">
								<i class="fa-sharp fa-solid fa-trash-can"></i>
								<span>Supprimer</span>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
