{% extends 'base.html.twig' %}

{% block title %}Gestion des prêts | Association
{% endblock %}
{% block body %}

	{% include "_sidebar.html.twig" %}

	<div class="tableAsso">
		<table class="table-content">
			<thead>
				<tr>
					<th>Liste des Associations</th>
					<th>Montant Total engagé</th>
					<th>Montant Total versé</th>
					<th>Remboursements reçus à ce jour</th>
					<th>Actions</th>
				</tr>
			</thead>


			<tbody>
				{% set totalRequested = 0 %}
				{% set totalPaid = 0 %}
				{% set totalReceived = 0 %}

				{% for association in associationList %}
					<tr>
						<td>{{ association.getName() }}</td>
						<td>{{ totals[association.getId()].requested|number_format(0, '.', ' ', ) }}
							€</td>
						<td>{{ totals[association.getId()].paid|number_format(0, '.', ' ', ) }}
							€</td>
						<td>{{ totals[association.getId()].received|number_format(0, '.',  ' ',)}}
							€</td>
						<td>
							<a href="{{ path('app_association_display', {id: association.id}) }}" class="infos">
								<i class="fa-solid fa-diamond-turn-right"></i>
								<span>Liste Des Sociétés</span>
							</a>
							<a href="{{ path('app_association_edit', {id: association.id}) }}" class="edit">
								<i class="fa-solid fa-pen-to-square"></i>
								<span>Éditer</span>
							</a>
						</td>
					</tr>

					{% set totalRequested = totalRequested + totals[association.getId()].requested %}
					{% set totalPaid = totalPaid + totals[association.getId()].paid %}
					{% set totalReceived = totalReceived + totals[association.getId()].received %}

				{% endfor %}
				<tr>
					<td class="totalLine">Total Général :</td>
					<td class="totalLine">{{ totalRequested|number_format(0, '.', ' ', ) }}
						€</td>
					<td class="totalLine">{{ totalPaid|number_format(0, '.', ' ', ) }}
						€</td>
					<td class="totalLine">{{ totalReceived|number_format(0, '.', ' ', ) }}
						€</td>
					<td class="totalLine"></td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
