{% extends 'base.html.twig' %}

{% block title %}Gestion des prêts | Association
{% endblock %}
{% block body %}

{% include "_sidebar.html.twig" %}

{# <h2>{{associationName}}</h2> #}
<div class="tableCompanySheet">
	<table class="table-content">
		<thead>
			<tr>
				<th>Convention</th>
				<th>Société</th>
				<th>Montant FNI engagé</th>
				<th>Montant FNI versé</th>
				<th>Reste à Versé</th>
				{# Engagé - Versé #}
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for company in company %}
				<tr>
					<td>N°{{company.Agreement}}</td>
					<td>{{company.companyName}}</td>
					<td>{{company.FniAmountRequested|number_format(0, '.', ' ', )}}
						€</td>
					<td>{{company.FniAmountPaid|number_format(0, '.', ' ', )}}
						€</td>
					<td>€</td>

					<td>
						<a href="{{ path("app_companysheet_display", {id: company.id}) }}" class="infos">
							<i class="fa-sharp fa-solid fa-circle-info "></i>
							<span>Fiche Société</span>

						</a>
						<a href="{{ path("app_companysheet_edit", {id: company.id}) }}" class="edit">
							<i class="fa-solid fa-pen-to-square "></i>
							<span>Éditer</span>
						</a>
						<a href="{{ path("app_companysheet_delete", {id: company.id}) }}" class="delete">
							<i class=" fa-sharp fa-solid fa-trash-can "></i>
							<span>Supprimer</span>
						</td>
					</td>
				</tr>
			</a>
		</tbody>
	</td>
</tr></tr>{% endfor %}</tbody></table></div>{% endblock %}
