{% extends 'base.html.twig' %}

{% block title %}Gestion des prêts | Fiche Société
{% endblock %}
{% block body %}

	{% include "_sidebar.html.twig" %}

	<div class="table">
		<table class="table-content">
			<caption>Tableau de suivi des Sociétés par Association</caption>
			
			<thead>
				<tr>
					<th>Numéro de convention de financement CDC/BPI</th>
					<th>Société</th>
					<th>Montant engagé</th>
					<th>Montant versé</th>
					<th>Remboursement reçu à ce jour</th>
					<th>Reste à reçevoir</th>
					<th>Montant total des provisions</th>
					<th>Montant total des casses</th>
					<th>Action</th>
				</tr>
			</thead>
			
			<tbody>
				
				{% set totalFniAmountRequested = 0 %}
				{% set totalAmountPaid = 0 %}
				{% set totalRemainsToBeReceived = 0 %}
				{% set totalAmountRepaid = 0 %}
				{% set totalAmountProvision = 0 %}
				{% set totalAmountDamage = 0 %}

				{% for company in company %}

				{% set FniAmountPaid = company.paymentone + company.paymenttwo %}

					<tr>
						<td>{{ company.Agreement }}</td>
						<td style="text-align: left;">{{ company.companyName }}</td>
						<td>{{ company.FniAmountRequested|number_format(0, '.', ' ') }}
							€</td>
						<td>{{ FniAmountPaid|number_format(0, '.', ' ') }}
							€</td>
						<td>{{ (FniAmountPaid - company.remainsToBeReceived)|number_format(0, '.', ' ') }}
							€</td>
						<td>{{company.remainsToBeReceived|number_format(0, '.', ' ')}}
							€</td>
						<td>{{company.totalAmountOfAccountingProvision|number_format(0, '.', ' ')}}
							€</td>
						<td>{{company.totalAmountOfDamage|number_format(0, '.', ' ')}}
							€</td>
						<td>
							<a href="{{ path("app_companysheet_display", {id: company.id}) }}" class="infos">
								<i class="fa-sharp fa-solid fa-circle-info "></i>
								<span>Fiche Société</span>
							</a>
							<a href="{{ path("app_companysheet_edit", {id: company.id}) }}" class="edit">
								<i class="fa-solid fa-pen-to-square "></i>
								<span>Éditer</span>
							</a>
						</td>
					</tr>

					{% set totalFniAmountRequested = totalFniAmountRequested + company.FniAmountRequested %}
					{% set totalAmountPaid = totalAmountPaid + FniAmountPaid %}
					{% set totalAmountRepaid = totalAmountRepaid + FniAmountPaid - company.remainsToBeReceived %}
					{% set totalRemainsToBeReceived = totalRemainsToBeReceived + company.remainsToBeReceived %}
					{% set totalAmountProvision = totalAmountProvision + company.totalAmountOfAccountingProvision %}
					{% set totalAmountDamage = totalAmountDamage + company.totalAmountOfDamage  %}

				{% endfor %}

				<tr class="totalLine">
					<td>Total Général :</td>
					<td></td>
					<td>{{ totalFniAmountRequested|number_format(0, '.', ' ') }}
						€</td>
					<td>{{ totalAmountPaid|number_format(0, '.', ' ') }}
						€</td>
					<td>{{totalAmountRepaid|number_format(0, '.', ' ')}}
						€
					</td>
					<td>{{totalRemainsToBeReceived|number_format(0, '.', ' ')}}
						€</tdclass=>
					<td>{{totalAmountProvision|number_format(0, '.', ' ')}}
						€</td>
					<td>{{totalAmountDamage|number_format(0, '.', ' ')}}
						€</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
