{% extends 'base.html.twig' %}

{% block title %}
	Nouveau Porteur de Projet

{% endblock %}

{% block body %}
	{% include "_sidebar.html.twig" %}
	<div class="form">
		<div class="form-content">
			<h1>Création d'un nouveau Lauréat</h1>
			<div>
				{{form_start(formView)}}

				{{form_row(formView.name) }}
				{{form_row(formView.companysheet) }}

				{{form_row(formView.Button) }}
				{{form_end(formView)}}
			</div>
		</div>
	</div>

{% endblock %}
