{% extends 'base.html.twig' %}

{% block title %}Créer une fiche Société
{% endblock %}


{% block body %}

	{% include "_sidebar.html.twig" %}

	<div class="form-companysheet">
		<div class="form-content">
			<h1>Création d'une nouvelle fiche projet</h1>
			<div>
				{{form_start(formView)}}

				{{form_row(formView.Association) }}
				{{form_row(formView.CompanyName) }}
				{{form_row(formView.Agreement)}}
				{{form_row(formView.DateOfCE) }}


				<p>Sélectionner le nombre de versement souhaité :</p>
				<input type="radio" name="payment" value="OnePayment" id="OnePayment">
				<label for="OnePayment">Un versement</label>
				<input type="radio" name="payment" value="TwoPayment" id="TwoPayment">
				<label for="TwoPayment">Deux versements</label>
				{{form_row(formView.PaymentOne) }}
				{{form_row(formView.PaymentOneDate) }}
				{{form_row(formView.PaymentTwo) }}
				{{form_row(formView.PaymentTwoDate) }}

				{{form_row(formView.RepaymentStartDate) }}
				{{form_row(formView.FniAmountPaid) }}
				{{form_row(formView.TotalAmountRepaidToDate) }}
				{{form_row(formView.RepaymentEndDate) }}
				{{form_row(formView.FNIAmountRequested) }}
				{{form_row(formView.LoanStatus) }}

				{{form_row(formView.ProjectLeaderName1)}}
				{{form_row(formView.ProjectLeaderName2)}}
				{{form_row(formView.ProjectLeaderName3)}}
				{{form_row(formView.ProjectLeaderName4)}}

				{{form_row(formView.Button) }}
				{{form_end(formView)}}
			</div>
		</div>
	</div>
{% endblock %}
