{% extends 'base.html.twig' %}

{% block title %}Créer une fiche Société
{% endblock %}


{% block body %}

	{% include "_sidebar.html.twig" %}

	<div class="form-companysheet">
		<div class="form-content">
			<h1>Création d'une nouvelle fiche projet</h1>
			<div>
				{{form_start(formView)}}

				{{form_row(formView.CompanyName) }}
				{{form_row(formView.Association) }}
				{{form_row(formView.Agreement)}}
				{{form_row(formView.DateOfCE) }}

				<div class="date">
					{{form_row(formView.PaymentOne) }}
					{{form_row(formView.PaymentTwo) }}
				</div>
				<div class="date">
					{{form_row(formView.PaymentOneDate) }}
					{{form_row(formView.PaymentTwoDate) }}
				</div>

				<div class="date">
					{{form_row(formView.RepaymentStartDate) }}
					{{form_row(formView.RepaymentEndDate) }}
				</div>
			</div>


			<div class="FNI">
				{{form_row(formView.FniAmountPaid) }}
				{{form_row(formView.FNIAmountRequested) }}
			</div>

			{{form_row(formView.LoanStatus) }}

			{{form_row(formView.Button) }}
			{{form_end(formView)}}
		</div>
	</div>
</div>{% endblock %}
