{% extends "base.html.twig" %}
{% block title %}
	Détails Fiche Société
{% endblock %}
{% block body %}
	{% include "_sidebar.html.twig" %}

	<div class="CompanyInfos">
		<div class="nav">
			<ul>
				<li class="nav-link">
					<a href="#" class="tablink" onclick="openTab(event,'companyCard')">
						Fiche société
					</a>
				</li>
				<li class="nav-link">
					<a href="#" class="tablink" onclick="openTab(event, 'requestedCard')">
						Engagement
					</a>
				</li>
				<li class="nav-link">
					<a href="#" class="tablink" onclick="openTab(event, 'payCard')">
						Versement
					</a>
				</li>
			</ul>
		</div>

		<div class="card-container">
			<div class="tabcontent" id="companyCard">
				<div class="card">
					<div>
						<ul>
							<li>{{company.companyName}}</li>
							<li>{{associationName}}</li>
							<li>Date CE :
								{{company.dateOfCe | date (" d/m/y")}}</li>
							<li>
								Statut du prêt :
								{{company.loanstatus}}
							</li>
							{% for name in projectleadername %}
								<li>
									Nom Prénom :
									{{name}}</li>
							{% endfor %}
						</ul>
					</div>
					<div>
						<ul>
							<li>Convention n°
								{{company.Agreement}}</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="tabcontent" id="requestedCard">
				<div class="card">
					<div>
						<ul>
							<li>Montant FNI engagé :
								{{company.fniamountrequested|number_format(0, '.', ' ')}}
								€
							</li>
							<li>Début du remboursement :
								{{company.repaymentstartdate | date (" d/m/y")}}
							</li>
						</ul>
					</div>
					<div>
						<ul>
							<li>Fin du remboursement :{{company.repaymentenddate | date (" d/m/y")}}
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="tabcontent" id="payCard">
				<div class="card">
					<div>
						<ul>
							<li>Date du premier versement :
								{{company.paymentonedate | date (" d/m/y")}}
							</li>
							<li>Date du deuxième versement :
								{{company.paymenttwodate | date (" d/m/Y") }}
							</li>
							<li>Reste à verser :
								{{company.fniamountrequested - company.paymentone - company.paymenttwo}}

								€
							</li>
						</ul>
					</div>
					<div>
						<ul>
							<li>Premier versement :
								{{company.paymentone|number_format(0, '.', ' ')}}
								€
							</li>
							<li>Deuxième versement :
								{{company.paymenttwo|number_format(0, '.', ' ')}}
								€
							</li>

							<li>Montant FNI versé :
								{{company.paymentone + company.paymenttwo}}
								€
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tableTotalAmountRepaid">
		<table class="table-content">
			<caption>Tableau de suivi du remboursement de l'Association</caption>
			<thead>
				<tr>
					<th>Montant FNI engagé :
						{{company.fniamountrequested|number_format(0, '.', ' ')}}
						€
					</th>
					<th>Total des Montant Reçu :
						{{totalPaymentReceived|number_format(0, '.', ' ')}}
						€
					</th>
					<th>Reste à Reçevoir =
						{{company.fniamountrequested - totalPaymentReceived}}
						€
					</th>
					<th></th>
				</tr>
				<tr>
					<th>Total Remboursé à ce jour</th>
					<th>Date de Versement du Montant Reçu par l'Asso
					</th>
					<th>Montant Reçu par l'Asso</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr>
					{{form_start(formView)}}
					<td>{{form_row(formView.totalAmountRepaidToDate)}}</td>
					<td>{{form_row(formView.Date)}}</td>
					<td>{{form_row(formView.Payment) }}</td>
					<td>{{form_row(formView.Button)}}</td>
					{{form_end(formView)}}
				</tr>
				{% for total in totalAmountRepaid %}
					<tr>
						<td>{{total.TotalAmountRepaidToDate}}</td>
						<td>{{total.Date| date ("d/m/Y")}}</td>
						<td>{{total.Payment ?? "0"}}</td>
						<td>
							<a href="{{ path('app_account_edit', {id: total.id}) }}" class="edit">
								<i class="fa-solid fa-pen-to-square"></i>
								<span>Éditer</span>
							</a>
							<a href="{{ path('app_account_delete', {id: total.id}) }}" class="delete">
								<i class="fa-sharp fa-solid fa-trash-can"></i>
								<span>Supprimer</span>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
