{% extends "base.html.twig" %}
{% block title %}
	Détails Fiche Société
{% endblock %}
{% block body %}
	{% include "_sidebar.html.twig" %}

	<div class="CompanyInfos">
		<div class="nav">
			<ul>
				<li class="nav-link">
					<a href="#" class="tablink" onclick="openTab(event,'companyCard')">
						Fiche sté
					</a>
				</li>
				<li class="nav-link">
					<a href="#" class="tablink" onclick="openTab(event, 'requestedCard')">
						Engagement
					</a>
				</li>
				<li class="nav-link">
					<a href="#" class="tablink" onclick="openTab(event, 'payCard')">
						Versement
					</a>
				</li>
			</ul>
		</div>

		<div class="card-container">
			<div class="tabcontent" id="companyCard">
				<div class="card">
					<div>
						<ul>
							<li>{{company.companyName}}</li>
							<li>{{associationName}}</li>
							<li>Année CE :
								{{company.dateOfCe | date (" d/m/y")}}</li>
							<li>
								Statut du prêt :
								{{company.loanstatus}}
							</li>
							{% for name in projectleadername %}
								<li>
									Nom Prénom des porteurs de projets :
									{{name}}</li>
							{% endfor %}
						</ul>
					</div>
					<div>
						<ul>
							<li>Numéro de convention de financement CDC/BPI :
								{{company.Agreement}}</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="tabcontent" id="requestedCard">
				<div class="card">
					<div>
						<ul>
							<li>Montant engagé :
								{{company.fniamountrequested|number_format(0, '.', ' ')}}
								€
							</li>
							<li>Début du début de rembroust :
								{{company.repaymentstartdate | date (" d/m/y")}}
							</li>
						</ul>
					</div>
					<div>
						<ul>
							<li>Date de fin de rembourst :{{company.repaymentenddate | date (" d/m/y")}}
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="tabcontent" id="payCard">
				<div class="card">
					<div>
						<ul>
							<li>Date du 1er verst :
								{{company.paymentonedate | date (" d/m/y")}}
							</li>
							<li>Date du 2nd verst :
								{{company.paymenttwodate | date (" d/m/Y") }}
							</li>
							<li>Reste à versé :
								{{(company.fniamountrequested - company.paymentone - company.paymenttwo)|number_format(0, '.', ' ')}}

								€
							</li>
						</ul>
					</div>
					<div>
						<ul>
							<li>Montant du verst 1 :
								{{company.paymentone|number_format(0, '.', ' ')}}
								€
							</li>
							<li>Montant du verst 2 :
								{{company.paymenttwo|number_format(0, '.', ' ')}}
								€
							</li>

							<li>Total versé :
								{{(company.paymentone + company.paymenttwo)|number_format(0, '.', ' ')}}
								€
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tableTotalAmountRepaid">
		<table class="table-content">
			<caption>TABLEAU DE SUIVI DES REMBOURSEMENTS :</caption>
			<thead>
				<tr>
					<td>
						<a href="{{path('app_companysheet_account_create', {id: company.id}) }}">
							<i class="fa-solid fa-plus"></i>
							<span>Ajouter un montant reçu</span>
						</a>
					</td>
				</tr>
				<tr>
					<th>Date des rembrts</th>
					<th>Montant Reçus</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				{% for total in totalAmountRepaid %}
					<tr>
						<td>{{total.Date| date ("d/m/Y")}}</td>
						<td>{{total.Payment|number_format(0, '.', ' ')}}
							€</td>
						<td>
							<a href="#">
								<i class="fa-solid fa-pen-to-square"></i>
								<span>Modifier le paiement reçu</span>
							</a>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td class="totalLine">Montant Engagé :
						{{company.fniamountrequested|number_format(0, '.', ' ')}}
						€</td>
					<td class="totalLine">Total Reçu :
						{{totalPaymentReceived|number_format(0, '.', ' ')}}
						€</td>
					<td class="totalLine">Reste à Reçevoir :
						{{(company.fniamountrequested - totalPaymentReceived)|number_format(0, '.', ' ')}}
						€</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
