{% extends "base.html.twig" %}
{% block title %}
	Détails Fiche Société
{% endblock %}
{% block body %}
	{% include "_sidebar.html.twig" %}

	<div class="companyInfos">
		<nav>
			<ul>
				<li class="nav-link">
					<a href="#" class="tablink" onclick="openTab(event,'companyCard')">
						Fiche sté
					</a>
				</li>
				<li class="nav-link">
					<a href="#" class="tablink" onclick="openTab(event, 'requestedCard')">
						Engagement
					</a>
				</li>
				<li class="nav-link">
					<a href="#" class="tablink" onclick="openTab(event, 'payCard')">
						Versement
					</a>
				</li>
			</ul>
		</nav>

		<div class="card-container">
			<div class="tabcontent" id="companyCard">
				<div class="card">
					<div>
						<ul>
							<li>
								<span>Nom de la Socité :</span>
								{{company.companyName}}</li>
							<li>
								<span>Association :</span>
								{{associationName}}</li>
							<li>
								<span>Année CE :</span>
								{{company.dateOfCe | date (" d/m/y")}}</li>

							{% for name in projectleadername %}
								<li>
									<span>Nom Prénom des Lauréats :</span>
									{{name}}</li>
							{% endfor %}
						</ul>
					</div>
					<div>
						<ul>
							<li>
								<span>Numéro de convention de financement CDC/BPI :</span>
								{{company.Agreement}}</li>
						</ul>
					</li>
				</div>
			</div>
		</div>

		<div class="tabcontent" id="requestedCard">
			<div class="card">
				<div>
					<ul>
						<li>
							<span>Début du début de rembroust :</span>
							{{company.repaymentstartdate | date (" d/m/y")}}
						</li>
						<li>
							<span>Montant engagé :</span>
							{{company.fniamountrequested|number_format(0, '.', ' ')}}
							€
						</li>
					</ul>
				</div>
				<div>
					<ul>
						<li>
							<span>Date de fin de rembourst :</span>
							{{company.repaymentenddate | date (" d/m/y")}}
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="tabcontent" id="payCard">
			<div class="card">
				<div>
					<ul>
						<li>
							<span>Date du 1er verst :</span>
							{{company.paymentonedate | date (" d/m/y")}}
						</li>
						<li>
							<span>Date du 2nd verst :</span>
							{{company.paymenttwodate | date (" d/m/Y") }}
						</li>
						<li>
							<span>Reste à verser :</span>
							{{(company.fniamountrequested - company.paymentone - company.paymenttwo)|number_format(0, '.', ' ')}}
							€
						</li>
					</ul>
				</div>
				<div>
					<ul>
						<li>
							<span>Montant du verst 1 :</span>
							{{company.paymentone|number_format(0, '.', ' ')}}
							€
						</li>
						<li>
							<span>Montant du verst 2 :</span>
							{{company.paymenttwo|number_format(0, '.', ' ')}}
							€
						</li>

						<li>
							<span>Total versé :</span>
							{{(company.paymentone + company.paymenttwo)|number_format(0, '.', ' ')}}
							€
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="tableTotalAmountRepaid">
	<table class="table-content">
		<caption>Tableau de suivi des remboursements :</caption>
		<thead>
			<tr>
				<th>Date des rembrts</th>
				<th>Montant Reçus</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			{% for total in totalAmountRepaid %}
				<tr>
					<td>{{total.Date| date ("d/m/Y")}}</td>
					<td>{{total.Payment|number_format(0, '.', ' ')}}
						€</td>
					<td>
						<a href="#">
							<i class="fa-solid fa-pen-to-square"></i>
							<span>Modifier le paiement reçu</span>
						</a>
					</td>
				</tr>
			{% endfor %}
			<tr>
				<td class="totalLine">Montant Engagé :
					{{company.fniamountrequested|number_format(0, '.', ' ')}}
					€</td>
				<td class="totalLine">Total Reçu :
					{{totalPaymentReceived|number_format(0, '.', ' ')}}
					€</td>
				<td class="totalLine">Reste à Reçevoir :
					{{(company.fniamountrequested - totalPaymentReceived)|number_format(0, '.', ' ')}}
					€</td>
			</tr>
			<tr></tr>
		</tbody>
	</table>
	<table class="table-content">
		<caption>Tableau de suivi Météo</caption>
		<thead>
			<tr>
				<th>Année Météo</th>
				<th>Nbre Impayés</th>
				<th>Echelle Evaluation</th>
				<th>%Tage Provision</th>
				<th>Liquidation</th>
				<th>Date de Liquidation</th>
				<th>Garantie BPI Déclenchée</th>
				<th>Commentaires</th>
				<th>Montant de la Casse</th>
			</tr>
		</thead>
		<tbody>
			{% for weather in weather %}
				<tr>
					<td>{{weather.weatherYear| date ("d/m/Y")}}</td>
					<td>{{weather.unpaidNumber}}</td>
					<td>{{weather.assessmentScale}}</td>
					<td>{{weather.retainerPercentage}}</td>
					<td>{{weather.loanStatus}}</td>
					<td>{{weather.liquidationDate| date ("d/m/Y")}}</td>
					<td>{{weather.bpiGuarantee}}</td>
					<td>{{weather.comment}}</td>
					<td>{{weather.amountOfDamage|number_format(0, '.', ' ')}}
						€</td>
				</tr>
			{% endfor %}
			<tr>
				<td class="totalLine">Total :</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="totalLine">{{totalAmountOfDamage|number_format(0, '.', ' ')}}
					€</td>
			</tr>
		</tbody>
	</table>
</div>

<button id="newAmount">
	<a href="{{path('app_companysheet_account_create', {id: company.id})}}">
		<i class="fa-solid fa-plus"></i>
		<span>Ajouter un montant reçu</span>
	</a>
</button>

<button id="newWeather">
	<a href="{{path('app_weather_create', {id: company.id})}}">
		<i class="fa-solid fa-plus"></i>
		<span>Création d'une Météo</span>
	</a>
</button>{% endblock %}
