{% extends 'base.html.twig' %}

{% block title %}
	Modifier la fiche société

{% endblock %}

{% block body %}
	{% include "_sidebar.html.twig" %}

	<div class="form-container">
		<div class="form-content">
			<h1>Création d'une nouvelle fiche projet</h1>
			{{form_start(formView)}}
			{{form_row(formView.LoanStatus) }}
			{{form_row(formView.Association) }}
			{{form_row(formView.DateOfCE) }}
			{{form_row(formView.Agreement)}}
			<div class="form-date">
				{{form_row(formView.RepaymentStartDate) }}
				{{form_row(formView.RepaymentEndDate) }}
			</div>
			{{form_row(formView.CompanyName) }}
			<div class="form-fni">
				{{form_row(formView.FNIAmountRequested) }}
				{{form_row(formView.FniAmountPaid) }}
			</div>
			<div class="form-date">
				<div>
					{{form_row(formView.PaymentOne) }}
					{{form_row(formView.PaymentOneDate) }}
				</div>
				<div>
					{{form_row(formView.PaymentTwo) }}
					{{form_row(formView.PaymentTwoDate) }}
				</div>
			</div>
			{# {{form_row(formView.RemainsToBePaid) }} #}
			{# {{form_row(formView.TotalAmountRepaidToDate) }} #}

		</div>
		{{form_row(formView.Button) }}
		{{form_end(formView)}}
	</div>
</div>{% endblock %}
