{% extends "base.html.twig" %}
{% block title %}
	Détails Fiche Société
{% endblock %}
{% block body %}
	{% include "_sidebar.html.twig" %}

	<div class="companyShow">
		<div class="card-container">

			<div class="card">
				<h2>Fiche Société</h2>
				<ul>
					<li>Nom de l'Association :</li>
					<li>Statut du prêt :
						{{company.loanStatus}}</li>
					<li>Date CE :
						{{company.dateOfCe | date ("d/m/Y")}}</li>
					<li>
						Numéro de convention :
						{{company.AgreementNumber}}
					</li>
					<div class="card-date">
						<li>Date du début du remboursement :
							{{company.repaymentStartDate | date ("d/m/Y")}}</li>
						<li>Date de fin du remboursement :{{company.repaymentEndDate | date ("d/m/Y")}}</li>
					</div>
					<li>Nom de la société :
						{{company.companyName}}</li>
					<li>Noms prénoms des porteurs :</li>
					<li>Montant FNI demandé :
						{{company.fniAmountRequested}}
						€
					</li>
				</ul>
			</div>

			<div class="card">
				<h2>Versement</h2>
				<ul>
					<li>Montant FNI versé :
						{{company.FniAmountPaid}}
						€</li>
					<li>Montant FNI engagé :
						{{company.fniAmountRequested}}
						€</li>
					<div class="card-date">
						<div>
							<li>Premier Versement :
								{{company.paymentOne}}
								€
							</li>

							<li>Date du Premier Versement :
								{{company.paymentOneDate | date ("d/m/Y")}}</li>
						</div>
						<div>
							<li>Deuxième Versement :
								{{company.paymentTwo}}
								€</li>
							<li>Date du Deuxième Versement :
								{{company.paymentTwoDate | date ("d/m/Y") }}</li>
						</div>
					</div>
					<li>Reste à verser :
						{{company.remainsToBePaid}}
						€</li>
					<li>Reste à recevoir :
						{{company.remainsToBeReceived}}
						€</li>
				</ul>
			</div>

			<div class="card">
				<h2>Remboursement</h2>
				<ul>
					<li>Montant total remboursé à ce jour :
						{{company.totalAmountRepaidToDate}}
						€</li>
					<li>
						<a href="{{ path('app_companysheet_account', {id: company.id}) }}">Lien vers le Test</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
