{% extends "base.html.twig" %}
{% block title %}
	Détails Fiche Société
{% endblock %}
{% block body %}


	<style>
		.card {
			min-height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			list-style-type: none;
			background: #EDEFED;

		}

		.card-content {
			border: 1px solid black;
			border-radius: 60px;
			margin-bottom: 30px;
			background-color: white;
		}

		.card-content ul {
			list-style-type: none;
		}

		.card-content h2 {
			font-size: 2rem;
			text-align: center;
		}

		.card-content ul li {
			font-size: 1.5rem;
			padding: 10px;
		}
	</style>

	{% include "_navbar.html.twig" %}

	<div class="card">
		<div class="card-container">
			<div class="card-content">
				<h2>Fiche Société</h2>
				<ul>
					<li>Association :</li>
					<li>Statut du prêt :
						{{company.loanStatus}}</li>
					<li>Date CE :
						{{company.dateOfCe | date ("d/m/Y")}}</li>
					<li>Date du début du remboursement :
						{{company.repaymentStartDate | date ("d/m/Y")}}</li>
					<li>Date de fin du remboursement :{{company.repaymentEndDate | date ("d/m/Y")}}</li>
					<li>Nom de la société :
						{{company.companyName}}</li>
					<li>Noms prénoms des porteurs :</li>
					<li>Montant FNI demandé :
						{{company.fniAmountRequested}}
						€
					</li>
				</ul>
			</div>

			<div class="card-content">
				<h2>Versement</h2>
				<ul>
					<li>Montant versé :
						{{company.FniAmountPaid}}
						€</li>

					<li>Versement :
						{{company.paymentOne}}
						€
					</li>
					<li>Date du Premier Versement :
						{{company.paymentOneDate | date ("d/m/Y")}}</li>
					<li>Deuxième Versement :
						{{company.paymentTwo}}
						€</li>
					<li>Date du Deuxième Versement :
						{{company.paymentTwoDate | date ("d/m/Y") }}</li>

					<li>Reste à verser :
						{{company.remainsToBePaid}}
						€</li>
				</ul>
			</div>

			<div class="card-content">
				<h2>Remboursement</h2>
				<ul>
					<li>Montant total remboursé à ce jour :
						{{company.totalAmountRepaidToDate}}
						€</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
