{% extends 'base.html.twig' %}

{% block title %}Total Remboursé à ce jour
{% endblock %}


{% block body %}

	{% include "_sidebar.html.twig" %}

	<div class="tableTotalAmountRepaid">
		<table class="table-content">
			<thead>
				<tr>
					<th>Total Remboursé à ce jour</th>
					<th>Montant du  Versement</th>
					<th>Date de Versement</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				{% for total in totalAmountRepaidToDate %}
					<tr>
						<td>{{total.TotalAmountRepaidToDate}}</td>
						<td>{{total.Payment}}</td>
						<td>{{total.Date| date ("d/m/Y")}}</td>
						<td>
							<a href="{{ path('app_account_edit', {id: total.id}) }}" class="edit">
								<i class="fa-solid fa-pen-to-square"></i>
								<span>Éditer</span>
							</a>
							<a href="{{ path('app_account_delete', {id: total.id}) }}" class="delete">
								<i class="fa-sharp fa-solid fa-trash-can"></i>
								<span>Supprimer</span>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="form-totalamount">
		<div class="form-content">
			{{form_start(formView)}}
			{{form_row(formView.totalAmountRepaidToDate) }}
			{{form_row(formView.Payment) }}
			{{form_row(formView.Date) }}
			{{form_row(formView.Button) }}
			{{form_end(formView)}}
		</div>
	</div>
{% endblock %}
