{% extends "base.html.twig" %}

{% block title %}
	Accueil | Liste des Conventions
{% endblock %}

{% block body %}
	{% include "_sidebar.html.twig" %}

	<div class="tableAgreement">
		<table class="table-content">
			<thead>
				<tr>
					<th>Numéro de convention de financement CDC/BPI</th>
					<th>Montants reçus CDC/BPI</th>
					<th>Montants engagés</th>
					<th>Montants versés aux associations</th>
					<th>Montants reçus des associations</th>
					<th>Montants Engagés et non versés aux associations</th>
					<th>Montants Total des Provisions</th>
					<th>Montants Total des Casses</th>
				</tr>
			</thead>
			<tbody>
				{% for i in idValue %}
					<tr>
						<td>{{agreementNumber[i]}}</td>
						<td>{{agreement[i].cashFund|number_format(0, '.', ' ')}}
							€</td>
						<td>{{ TotalAmountRequestedByAgreement[i][0]['TotalAmountRequestedByAgreement']|number_format(0, '.', ' ')}}
							€</td>
						<td>{{ TotalAmountFNIPaidByAgreement[i][0]["TotalAmountFNIPaidByAgreement"]|number_format(0, '.', ' ')}}€</td>
						<td></td>
						<td>{{ AmountCommittedAndNotPaid[i]|number_format(0, '.', ' ')}}€</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>
{% endblock %}
