{% extends "base.html.twig" %}

{% block title %}
	Accueil | Liste des Conventions
{% endblock %}

{% block body %}
	{% include "_sidebar.html.twig" %}

	<div class="table">
		<table class="table-content">
			<caption>Tableau de suivi des Prêts par Convention :</caption>
			<thead>
				<tr>
					<th>Numéro de convention definancement CDC/BPI</th>
					<th>Montants demandés par la CDC/BPI</th>
					<th>Montants reçus par la CDC/BPI</th>
					<th>Trésorerie Disponible</th>
					<th>Montants engagés</th>
					<th>Montants versés</th>
					<th>Remboursement reçus</th>
					<th>Montants Engagés et non versés</th>
					<th>Montants Total des Casses</th>
					<th>Montants Total des Provisions</th>
				</tr>
			</thead>
			<tbody>
				{% for i in idValue %}
					<tr>
						<td>{{agreementNumber[i]}}</td>
						<td>{{agreement[i].amountRequestedForTheAgreement|number_format(0, '.', ' ')}}
							€</td>
						<td>{{agreement[i].cashFund|number_format(0, '.', ' ')}}
							€</td>
						<td>{{((agreement[i].cashFund) - ( TotalAmountFNIPaidByAgreement[i][0]["TotalAmountFNIPaidByAgreement"]) + TotalAmountRepaidByAgreement[i] - AmountCommittedAndNotPaid[i])|number_format(0, '.', ' ')}}
							€</td>
						<td>{{ TotalAmountRequestedByAgreement[i][0]['TotalAmountRequestedByAgreement']|number_format(0, '.', ' ')}}
							€</td>
						<td>{{ TotalAmountFNIPaidByAgreement[i][0]["TotalAmountFNIPaidByAgreement"]|number_format(0, '.', ' ')}}
							€</td>
						<td>{{TotalAmountRepaidByAgreement[i]|number_format(0, '.', ' ')}}
							€</td>
						<td>{{ AmountCommittedAndNotPaid[i]|number_format(0, '.', ' ')}}
							€</td>
						<td>{{ TotalAmountOfDamageByAgreement[i]|number_format(0, '.', ' ')}}
							€</td>
						<td>{{ TotalAmountOfAccountingProvision[i]|number_format(0, '.', ' ')}}
							€</td>
					</tr>
				{% endfor %}
				<tr>
					<td class="totalLine">Total Général :</td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
				</tr>
				<tr>
					<td class="totalLine">Déduction casse :</td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
				</tr>
				<tr>
					<td class="totalLine">Total du Mt disponible du fond :</td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
					<td class="totalLine"></td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
