{% extends 'base.html.twig' %}

{% block title %}
	Modifier le Total Remboursé à ce jour

{% endblock %}

{% block body %}
	{% include "_sidebar.html.twig" %}

	<div class="form-container">
		<div class="form-content">
			<h1>Création d'une nouvelle fiche projet</h1>
			{{form_start(formView)}}

			{{form_row(formView.companysheet) }}
			{{form_row(formView.totalAmountRepaidToDate) }}
			{{form_row(formView.Date) }}
			{{form_row(formView.Payment) }}
			{{form_row(formView.Button) }}
			{{form_end(formView)}}
		</div>
	</div>
{% endblock %}
