{% extends 'base.html.twig' %}

{% block title %}Gestion des prêts | Trésorerie
{% endblock %}

{% block body %}
	{% include "_sidebar.html.twig" %}

	<div class="tableTresorerie">

		<table class="table-content">
			<thead>
				<tr>
					<th>Montant versés CDC/BPI par conventions</th>
					<th>Montant engagés sur chaque conventions</th>
					<th>Montant versés aux assos par conventions</th>
					<th>Montant reçus des assos par convention</th>
					<th>Montant engagés et non versés aux assos</th>
				</tr>
			</thead>

			<tbody>
				{% for i in 1..6 %}
					<tr>
						<td></td>
						<td>{{ TotalAmountRequestedByAgreementNumber[i][0]['TotalAmountRequestedByAgreementNumber'] }}</td>
						<td>{{ TotalAmountPaidByAgreementNumber[i][0]['TotalAmountPaidByAgreementNumber'] }}</td>
						<td>{{ TotalAmountRepaidToDatedByAgreementNumber[i][0]['TotalAmountRepaidToDateByAgreementNumber'] }}</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>

	<div class="test">
		{% for i in 0..5 %}
			<p>
				Montant Engagés et non versés aux assos pour la convention n°{{i}}
				:{{ AmountCommittedAndNotPaid[i] }}
			</p>
		{% endfor %}
	</div>
	{# 
			
			Dans cet exemple, $results est un tableau associatif où chaque clé correspond à une valeur d'$agreementNumber allant de 1 à 6, et chaque valeur est un tableau contenant le résultat de la fonction getTotalAmountPaiddByAgreementNumber pour cette valeur d'$agreementNumber.
			
			La boucle for utilisée dans le contrôleur itère sur les valeurs d'$agreementNumber de 1 à 6 et stocke les résultats de chaque appel dans $results.
			
			Dans le template Twig, la syntaxe {{ results[i][0]['TotalAmountPaiddByAgreementNumber'] }} permet d'accéder au résultat de la fonction getTotalAmountPaiddByAgreementNumber pour chaque valeur d'$agreementNumber de 1 à 6.
			
			results[i] accède à l'élément $i du tableau $results, qui est lui-même un tableau contenant le résultat de la fonction pour la valeur d'$agreementNumber correspondante.
			
			[0] accède au premier (et unique) élément du tableau $results[i], qui est le résultat de la fonction getTotalAmountPaiddByAgreementNumber pour la valeur d'$agreementNumber correspondante.
			
			['TotalAmountPaiddByAgreementNumber'] accède à la clé 'TotalAmountPaiddByAgreementNumber' du tableau retourné par la fonction getTotalAmountPaiddByAgreementNumber, qui contient le montant total payé pour la valeur d'$agreementNumber correspondante.
			
			En somme, cette expression Twig permet d'afficher le montant total payé pour chaque valeur d'$agreementNumber de 1 à 6. #}
{% endblock %}
