<nav class="sidebar close">
	<header>
		<div class="image-text">
			<span class="image">
				<img src="/img/logo.png" alt=""/>
			</span>

			<div class="text header-text">
				<span class="name">Réseau Entreprendre</span>
				<span class="logiciel">Gestion des Prêts</span>
			</div>
		</div>
	</header>

	<div class="menu-bar">
		<div class="menu">
			<li class="search-box">
				<a href="#">
					<i class="fa-sharp fa-solid fa-magnifying-glass icon"></i>
					<input type="search" placeholder="Rechercher.."/>
				</a>
			</li>
			<ul class="menu-links">
				<li class="nav-link">
					<a href="{{path('app_home')}}">
						<i class="fa-solid fa-house icon"></i>
						<span class="text nav-text">Dashboard</span>
					</a>
				</li>
				<li class="nav-link">
					<a href='{{path('app_association')}}'>
						<i class="fa-solid fa-a icon"></i>
						<span class="text nav-text">Association</span>
					</a>
				</li>
				<li class="nav-link">
					<a href='{{path('app_association_create')}}'>
						<i class="fa-solid fa-plus icon"></i>
						<span class="text nav-text">
							Nouvelle Association</span>
					</a>
				</li>
				<li class="nav-link">
					<a href="#">
						<i class="fa-solid fa-file icon"></i>
						<span class="text nav-text">Feuille Société</span>
					</a>
				</li>
				<li class="nav-link">
					<a href='{{path('app_companysheet_create')}}'>
						<i class="fa-solid fa-plus icon"></i>
						<span class="text nav-text">
							Nouvelle Fiche Société</span>
					</a>
				</li>
				<li class="nav-link">
					<a href="{{path('app_treasury_agreementList')}}">
						<i class="fa-solid fa-coins icon"></i>
						<span class="text nav-text">Trésorerie</span>
					</a>
				</li>
				<li class="nav-link">
					<a href='{{path('app_treasury_create')}}'>
						<i class="fa-solid fa-plus icon"></i>
						<span class="text nav-text">
							Nouvelle Convention</span>
					</a>
				</li>

			</ul>
		</div>
		<div class="bottom-content">
			<li class="nav-link">
				<a href="#">
					<i class="fa-solid fa-right-to-bracket icon"></i>
					<span class="text nav-text">Connexion</span>
				</a>
			</li>
			<li class="nav-link">
				<a href="#">
					<i class="fa-solid fa-right-from-bracket icon"></i>
					<span class="text nav-text">Déconnexion</span>
				</a>
			</li>
			<li class="mode">
				<div class="moon-sun">
					<i class="fa-solid fa-moon icon moon"></i>
					<i class="fa-solid fa-sun icon sun"></i>
				</div>
				<span class="mode-text text">Dark Mode</span>
				<div class="toggle-switch">
					<span class="switch"></span>
				</div>
			</li>
		</div>
	</div>
</nav>
