<div class="weatherTable">
	<table class="table-content">
		<caption>Indicateur Météo</caption>
		<thead>
			<tr>
				<th>Echelle d'évaluation</th>
				<th>Pourcentage Provision Comptable</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>5</td>
				<td>{{weatherTable.accountingProvision5}} %</td>
			</tr>
			<tr>
				<td>4</td>
				<td>{{weatherTable.accountingProvision4}} %</td>
			</tr>
			<tr>
				<td>3</td>
				<td>{{weatherTable.accountingProvision3}} %</td>
			</tr>
			<tr>
				<td>2</td>
				<td>{{weatherTable.accountingProvision2}} %</td>
			</tr>
			<tr>
				<td>1</td>
				<td>{{weatherTable.accountingProvision1}} %</td>
			</tr>
			<tr>
				<td>0</td>
				<td>{{weatherTable.accountingProvision0}} %</td>
			</tr>
		</tbody>
	</table>